@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&family=Roboto:wght@300;400&display=swap');

//font-family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//font-weidth
$regular: 400;
$gruesa: 900;

//font-style
$cursiva: italic;

//font-size
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//colors
$White: #FFF;
$Platinum: #E6E7E7;
$Light-gray: #D1D1D1;
$Fuzzy-Wuzzy: #E56353;
$Ruddy-pink: #D76C69;
$Spanish-pink: #ECBCBA;
$Eerie-black: #121619;
$Raisin-black: #222323;
$Nickel:#6C6E70






