.articulo {
    padding-top: 40px;
    padding-bottom: 40px;
}

.articulo__fecha {
    padding-bottom: 40px;
    font-family: $playfair;
    font-size: $large;
    font-weight: $gruesa;

}

.articulo__parrafos {
    font-family: $roboto;
    font-weight: $regular;
    font-size: $large;
}
